@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a class="nav-link text-danger" asp-area="" asp-controller="Todo" asp-action="Index">To Do List Calender</a>.</p>
</div>
